{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to my Gallery</h1>

<p>I want to record my memories here for my kids to see</p>

<img width=800 src="/static/images/1.jpg">
<img width=800 src="/static/images/2.jpg">
<img width=800 src="/static/images/3.jpg">
<img width=800 src="/static/images/4.jpg">
<img width=800 src="/static/images/5.jpg">
<!-- redacted private photo and disallowed crawlers to index it -->
<!-- <img width=800 src="REDACTED"> -->

{% endblock %}