rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
      // function allowedMoreUsers() {
      //   return !exists(/databases/$(database)/documents/users/usersStats) && get(/databases/$(database)/documents/users/usersStats).data.numUsers < 2;
      // }

      allow create: if request.auth.uid == uid;
      allow read: if true;
    }

    match /users/{uid}/shares/{shareId} {
      function allowedMoreShares() {
        return !exists(/databases/$(database)/documents/users/$(uid)) || get(/databases/$(database)/documents/users/$(uid)).data.numShares < 3;
      }

      allow read: if true;
      allow delete: if request.auth.uid == uid;
      allow create: if request.auth.uid == uid && request.resource.data['files'].size() <= 5 && allowedMoreShares();
    }
  }
}